# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# IDEs
.vscode/
.idea/

# Env files
.env

# WebDriver cache
.wdm/

# Outputs (resultado, não entrada)
processos_resultado.csv

#consultas
consultas.csv

#build
tjrs_processos.zip